@import "tailwindcss";
@import "daisyui";

@plugin "daisyui" {
  themes: portfolio --default; 
}

@custom-variant portfolio [data-theme='portfolio'];

:root {
  --color-primary: #D9DEE8;
  --color-base-100: #0e131f;
  
  --color-base-content: #D9DEE8;  
}

@theme inline {
  --color-background: #0e131f;
  --color-foreground: #D9DEE8;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}