@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: portfolio --default; 
}

@custom-variant portfolio [data-theme='portfolio'];

:root {
  --color-primary: #D9DEE8;
  --color-secondary: #0e131f;
  
  --color-base-content: #D9DEE8;  
}

@theme inline {
  --color-background: #0e131f;
  --color-foreground: #D9DEE8;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.tooltip-primary::before {
    color: #0e131f;
}